.container{
    width: 1400px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

.box{   
    font-size: 30px;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
}
