.container{
    width: 1200px;
    height: 1200px;
    border: 2px solid black;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

.box{   
    font-size: 30px;
    color: white;
    height: 400px;
    width: 400px;
    text-align: center;
    line-height: 400px;
}
